.content {
    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        font-size: 30px;
        border: 0;
        background-color: $white;
        cursor: pointer;
    }

    @include breakpoint($tablet) {
        &__menu {
            display: none;
        }
    }
}