.content {
    &__menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        font-size: 30px;
        border: 0;
        background-color: $white;
        cursor: pointer;
    }
    &__go-top {
        position: fixed;
        bottom: 15px;
        right: 50px;
        font-size: 50px;
        cursor: pointer;
        color: $orange;
    }
    @include breakpoint($tablet) {
        &__menu {
            display: none;
        }
    }
}