.project-item {
    width: 80%;
    @include flex($direction: column, $justify-content: center, $align-items: flex-start);
    &__images {
        width: 100%;
        &__main {
            @include flex($direction: column, $justify-content: center, $align-items: flex-start);
            width: 300px;
            height: 230px;
        }
        &__secondary {
            position: relative;
            bottom: 50px;
            right: 60px;
            width: 250px;
            height: 160px;
        }
    }
    &__title {
        margin-bottom: 24px;
    }
    &__text {
        text-align: left;
        margin-bottom: 24px;
    }
    @include breakpoint($laptop) {
        &__images {

            margin-bottom: 30px;
            height: 400px;
            &__main {
                width: 500px;
                height: 350px;
            }
            &__secondary {
                position: relative;
                bottom: 70px;
                left: 300px;
                width: 350px;
                height: 200px;
            }
        }
    }
}